@import "../../utils/styles/variables";

.VehiclesManagement {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: $m 0;

    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;

      input {
        margin-top: $xs;
      }
    }

    h2,
    input {
      margin: 0;
    }

    @media only screen and (max-width: 768px) {
      label {
        margin-top: $m;
      }
    }
  }
}
