@import "../../utils/styles/variables";

.Button {
  background-color: $color-primary;
  color: $color-white;
  border-radius: $default-border-radius;
  border: none;
  outline: none;
  padding: $s $m;

  &:not(:disabled) {
    cursor: pointer;
  }
}
