// Colors
$color-text: #546a7b;
$color-primary: #0b3850;
$color-body-background: #f5f8fc;
$color-white: #fff;
$color-danger: #f58c8c;
$color-warning: #f0dca0;
$color-success: #a0f0aa;
$default-border-color: #d8d8d8;

// Spacing and Sizing
$xs: 4px;
$s: 8px;
$m: 16px;
$l: 24px;
$default-border-radius: 4px;

// Responsiveness
$app-max-width: 1366px;

// Font
$font-family: "Montserrat", sans-serif;
$font-weight-bold: 500;
