@import "../../utils/styles/variables";

.Form {
  &-group {
    &Title {
      margin: 0 0 $m 0;
      border-bottom: 1px solid;
      padding-bottom: $xs;
    }

    label {
      display: flex;
      flex-direction: column;
      margin: $s 0;

      input {
        margin-top: $xs;
      }
    }

    & + & {
      margin-top: $l;
    }

    & > & {
      margin: $m $s;
      border-left: 1px solid;
      padding: 0 $s 1px $s;
    }

    & > & > &Title {
      display: inline;
      padding: 0 4px 0 0;
      border: none;
    }
  }
}
