@import "../../utils/styles/variables";

.Card {
  padding: $m;
  -webkit-box-shadow: 0px 0px $xs 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px $xs 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px $xs 0px rgba(0, 0, 0, 0.2);
  border-radius: $default-border-radius;

  & + & {
    margin-top: $s;
  }
}
