@import "../../utils/styles/variables";

.VehicleView {
  &-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $xs;

    .Tag {
      margin: 0 $xs $xs 0;
    }
  }

  &-table {
    &Row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: $xs 0;
      border-bottom: 1px solid $default-border-color;

      &:last-child {
        border-bottom: 0 !important;
        padding: $xs 0 0;
      }

      > span:nth-child(2) {
        text-align: right;
      }

      &--result {
        margin: $xs 0 0;
        padding: $xs 0 0;
        border-top: 1px solid;
        font-weight: bold;
        border-bottom: none !important;
      }
    }

    &--result {
      :nth-last-child(2) {
        border-bottom: none;
      }
    }

    &Container {
      h4 {
        border-bottom: 1px solid;
        margin: 0 0 $xs;
        padding: 0 0 $xs;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &Icons {
      display: flex;
      align-items: center;

      > button {
        &:nth-child(1) + button {
          margin-left: $s;
        }
      }
    }
  }
}
