@import "../../../../utils/styles/variables";

.VehicleEdit {
  &-addCostForm {
    margin-top: $s;
  }

  &-addCostFormButtons {
    display: flex;
    justify-content: flex-end;
    padding: $s 0 0;
    margin-right: -$s;

    > button {
      margin: 0 0 0 $s;
    }
  }

  &-addCost {
    margin: $m 0 0 auto;
    border: 1px solid;
    width: 100%;
  }

  &-cost {
    display: flex;
    align-items: center;

    label {
      width: 100%;
    }

    button {
      height: 36px;
      width: 36px;
      margin: 22px 0 0 8px;
    }
  }
}
