@import '../../../utils/styles/variables';

.Input {
  > input {
    transition: border-color 0.2s ease-in-out;
  }

  &--withIcon {
    position: relative;
    > input {
      padding-left: 30px;
    }
  }

  &--withIcon &-icon {
    position: absolute;
    bottom: 7px;
    left: 8px;
  }

  &-labelRequired {
    margin: 0 4px;
    font-style: italic;
    color: rgba(84, 106, 123, 0.6);
    font-size: 12px;
    transition: color 0.2s ease-in-out;
  }

  &--error > input {
    border-color: #f58c8c;
  }

  &--error &-labelRequired:last-child {
    color: #f58c8c;
  }
}
