@import "../../utils/styles/variables";

.Photo {
  &-image {
    border: 1px solid $default-border-color;
    padding: $s;
    border-radius: $default-border-radius;
    min-height: 300px;
    cursor: pointer;

    > img {
      max-height: 300px;
      margin: 0px auto;
      display: block;
    }
  }

  &-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    svg {
      font-size: 32px;
    }
  }

  input {
    display: none;
  }

  .Button {
    border: 1px solid;
    width: 100%;
    margin-top: $s;
  }
}
