@import "../../utils/styles/variables";

.Table {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: $default-border-radius;
    padding: $s 0;
    font-size: 12px;

    &Cell {
      flex: 1;
      text-align: center;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: $default-border-radius;
    padding: $m;
    margin: $s 0;
  }

  &-cell {
    flex: 1;
    text-align: center;

    &:not(:last-child) {
      border-right: 1px solid $default-border-color;
    }
  }

  &-mobile {
    &Body {
      margin: 0 -$s;
    }

    &Dropdown {
      margin-bottom: $s;

      > label {
        display: flex;
        flex-direction: column;
      }
    }

    &Row {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto;
      background: $color-white;
      padding: $s $l $s $m;
      border-bottom: 1px solid $default-border-color;
      position: relative;

      &CTA {
        position: absolute;
        right: 4px;
        top: calc(50% - 5px);
        font-size: 14px;
      }

      &:first-child {
        border-top: 1px solid $default-border-color;
      }

      h3 {
        margin: 0;
      }

      p {
        margin: 0;

        &:first-of-type {
          grid-column-start: 1;
          font-size: 14px;
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          max-width: min-content;
          white-space: nowrap;
          margin-left: auto;
          background: $color-primary;
          color: $color-white;
          border-radius: $default-border-radius;
          padding: 0 $s;
          grid-column: 2/3;
          grid-row: 1/3;
        }
      }
    }
  }
}
